<!DOCTYPE html>
<html charset="en">
<head>
<title> formular</title>


<link rel="stylesheet" type="text/css" href = "css/login.css">




</head>


<body >

<form action="/portal" method="post" >
<div zadajte prosim</div>
<div><strong>Sign in</strong></div>
<label for="meno">Meno:</label>
<input type="text" name="name" id ="meno" placeholder="meno" >
<label for="heslo">Heslo:</label>
<input type="password" name="password" id="heslo" placeholder="heslo" >
<input type="submit" value = "login">
<div>if you aren't registred yet, <a href="/register">register now!</a></div>
</form>

</body>
</html>