<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/portal.css">
</head>
<body>
<h1>uspesne prihlaseny <%= meno%></h1>

<a href="signout"><button >sign out</button></a>
<body>
</html>